body{
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    height: 500px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: beige;
}

.container-fluid{
    padding: 3% 15% 33%;
}
/* navbar */
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 0 0 4.5rem;
}

.nav-item{
    padding: 0 15px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* download buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */

.title-image{
    width: 60%;
    transform: rotate(30deg);
    position: absolute;
    top: 30px;
    left: 56px;
    
    
}
#iphone{
    position: relative;
    
}

.title-text{
    margin-top: 35px;
}

/* features */


#features{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 3% 15%;

    background-color: #fff;
 
    position: relative;
 
   
      

}
.h3{
    font-size: 1.5rem;
    font-weight: 900;
}
.features-p{
    color:#8f8f8f ;
}
.col-lg-4{
    padding:50px;
    margin: 10% 0;

}

  
i{
    color:#ef8172;
    padding-bottom: 10%;
    
  }
  i:hover{
  color:#ff4c68;
  }

/* testimonials */

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;

}

.testimonial-image{
    position: absolute;
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    right: 20%;
    bottom: 10%;
    
    
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

.carousel-caption {
    width: 550px;
    left: 15%;
    top: 50% !important;
    transform: translateY(-50%);
    text-align: left;
    bottom: initial;
    }

    
    .card{
        font-family: 'Montserrat', sans-serif;
        text-align: center;

    }
    .card-header{
        background-color: #ef8172;
        color: #fff;
    }
    .btn-outline-primary{
        --bs-btn-color: #ef8172;
        --bs-btn-hover-bg: #ef8172;
        --bs-btn-hover-border-color: #ef8172;
        --bs-btn-bg: transparent;
     --bs-btn-border-color: #ef8172;
    }
  .cta{
    background-color: #ff4c68;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color:black;
    text-align: center;
    height: 450px;

    
  }
  .cta-button{
    position: relative;
    right: 10%;
    
  }

  .container-footer{
    text-align: center;
    padding: 155px 100px 100px;
    
  }
 